    	{% if error is defined and error %}
	    <div class="alert alert-danger" role="alert">	    
	    	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	    	<span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
    	
    	{% endif %}
	<form role="form" od="form-map" class="form-map form-search" action="{{ path('login_check') }}" method="post">
	<h2>Inserisci la parola segreta</h2>
	<div class="form-group">
		<input type="password" name="_password" class="form-control" placeholder="Password">
		<input type="hidden" name="_username" value="Lettore" />
		<input type="hidden" name="_target_path" value="/" />
	</div>
	<button type="submit" class="btn btn-primary">Accedi</button>
	</form>
